# Fields
public net.minecraft.client.audio.MusicTicker field_147679_a
public net.minecraft.client.audio.MusicTicker field_147677_b
public net.minecraft.client.audio.MusicTicker field_147678_c
public net.minecraft.client.audio.MusicTicker field_147676_d
public net.minecraft.client.audio.SoundManager func_148602_b(Lnet/minecraft/client/audio/ISound;)V # stopSound

# Methods
public net.minecraft.crash.CrashReport func_71503_h()Ljava/lang/String; # getWittyComment
public net.minecraft.crash.CrashReport func_71502_e()Ljava/lang/String; # getCompleteReport
public net.minecraft.crash.CrashReport func_71501_a()Ljava/lang/String; # getDescription
public net.minecraft.crash.CrashReport func_71498_d()Ljava/lang/String; # getCauseStackTraceOrString
